BE-website-monitor/chromium/** filter=lfs diff=lfs merge=lfs -text
BE-website-monitor/**/*.exe filter=lfs diff=lfs merge=lfs -text
BE-website-monitor/**/*.dll filter=lfs diff=lfs merge=lfs -text
BE-website-monitor/**/*.zip filter=lfs diff=lfs merge=lfs -text
project.zip filter=lfs diff=lfs merge=lfs -text
project.zip filter=lfs diff=lfs merge=lfs -text
